<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Software Engineer Portfolio</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <button class="menu-toggle"><i class="fas fa-bars"></i></button>
        <nav>
            <ul>
                <li><a href="index.html"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="about.html"><i class="fas fa-user"></i> About</a></li>
                <li><a href="resume.html"><i class="fas fa-file-alt"></i> Resume</a></li>
                <li><a href="projects.html"><i class="fas fa-briefcase"></i> Projects</a></li>
                <li><a href="blog.html"><i class="fas fa-blog"></i> Blog</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="row about-profile-row">
            <div class="col about-profile-col">
                <img src="img/main_photo.jpg" alt="Thodoris Kouleris" class="profile-photo" style="margin-bottom: 0;">
            </div>
            <div class="col">
                <div class="about-info">
                    <p><i class="fas fa-calendar-alt"></i> DOB: 1982/09/22</p>
                    <p><i class="fas fa-map-marker-alt"></i> Residence: Greece</p>
                    <p><i class="fas fa-envelope"></i> Email: thodoris@kouleris.eu</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <p>Hello there!! Welcome to my web site. Yes, this is another boring web site. I made it because I am a vain human who has little life out of computers. This page is about things that I like to do. Because this is a personal web site you may read a lot the word I. No, that doesn't mean that I am selfish. I really care about humanity and I help my neighbour.</p>
            </div>
        </div>
        
        <h2>What I Do</h2>
        <div class="row">
            <div class="col">
                <div class="info-block">
                    <h4><i class="fas fa-coffee"></i> Free Time</h4>
                    <p>At my free time, besides programming I love watching movies and TV shows, reading books, playing video games and listen to music.</p>
                </div>
                <div class="info-block">
                    <h4><i class="fas fa-laptop-code"></i> Computers</h4>
                    <p>I spend a lot of time with my main computer and my portable computer for work and side projects.</p>
                </div>
            </div>
            <div class="col">
                <div class="info-block">
                    <h4><i class="fas fa-code"></i> Programming</h4>
                    <p>I like building web apps that may be helpful to others. I use PHP, Python or Java for the backend, Vue for the front-end and React Native for the mobile versions of my applications.</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2026 Software Engineer Portfolio</p>
    </footer>

    <script src="js/script.js"></script>
</body>
</html>
