@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #ECF6FF;
}

.container{
    /*background-color: #e0e0eb;*/
    max-width: 1170px;
    margin: 0 auto;
}

.banner-picture{
    width: 100%;
    height: auto;
}

.nav-menu{
    width: 100%;
    height: 50px;
    background-color: #016ABC;
    margin-top: 0px;
}

.content{
    width: 100%;
    margin-top: 5px;
    padding: 5px 3px;
}

.content p a:hover,
.content p a:link,
.content p a:visited{
    font-weight: bold;
    text-decoration: none;
    color: #002544;
}
.profile-picture{
    float: left;
    margin-top: 7px;
    padding-right: 5px;
}

footer{
    width: 100%;
    background-color: #002544;
    color: #ECF6FF;
    padding-bottom: 15px;
    margin-top: 25px;
}

.clearfix {
    overflow: auto;
    
}

.nav-menu .container ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 120%;
}

.nav-menu .container ul li a:link,
.nav-menu .container ul li a:visited{
    color: #ECF6FF;
    text-decoration: none;
    /*padding: 2px 3px;*/
    padding: 9px 10px;
}

.nav-menu .container ul li a:hover{
    background-color: #E46305;
}

.nav-menu .container ul{ 
    padding:0;
    margin:0;
}


.dropdown {
    display: inline-block;
    color: #ECF6FF;
}

.dropdown-content {
    margin-top: 9px;
    display: none;
    position: absolute;
    background-color: #016ABC;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

code{
    font-size: 140%;
}

.inner-code{
    padding-left: 20px;
}

.class-name{
    color: #0000ff;
}

.element-name{
    color: #660066;
}

.element-attribute{
    color: #b32400;
}

.comments{
    color: #7676a2;
}

.contact-height{
    margin-bottom: 55px;
}

.portfolio-table{
    width: 100%;
    border: 1px dotted #016ABC;
    margin-right: 20px;
    margin-bottom: 90px;
}

.work{
    width:49%;
    float: left;
    
    border-right: 1px dotted #016ABC;
}

.work-last{
    max-width:50%;
    border-right: none;
    float: left;
}

.work>img{
    width: 97%;
    height: auto;
    margin-top: 3px;
    margin-left: 5px;
    border: 1px dotted #000;
}

.work-last>img{
    width: 95%;
    height: auto;
    margin-top: 3px;
    margin-left: 10px;
    border: 1px dotted #000;
}

.work-title{
    text-align: center;
}

.work-buttons{
    margin-bottom: 15px;
    text-align: center;
    padding-top: 15px;
    border-top: 1px dotted #016ABC
}

.button-live{
    padding: 5px 10px;
    background-color: #990000;
    color: #ECF6FF;
    text-decoration: none;
    margin-right: 4%;
}

.button-download{
    padding: 5px 10px;
    background-color: #0000ff;
    color: #ECF6FF;
    text-decoration: none;
    margin-right: 4%;
}

.button-git{
    padding: 5px 10px;
    background-color: #ff0000;
    color: #ECF6FF;
    text-decoration: none;
}

.work-description{
    padding-left: 3px;
}